# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Production
.next
out
dist
build

# Testing
.coverage
.nyc_output

# Environment
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.log
